.home-container{
    width: 80%;
    background-color: white;
    margin: 5% auto 5% auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}


.home-title{
    font-size: 7vh;
    margin: 10vh 0vh 0vh 15vh;
}

.home-text p{
    width: 65%;
    text-align: justify;
    margin-left: 8vh;
}

.home-image{
    width: 50%;
    margin: 5vh 2vh 5vh 0px ;
}
