@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Poppins:wght@300;400;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}

body{
    background: #e3e9f7;
}

img{
    width: 100%;
}

header{
    width: 80%;
    height: 70px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.logo{
    width: 100px;
}

nav .logo{
    display: none;
}

nav ul{
    display: flex;
}

nav ul li a{
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 10px;
    transition: 0.2s;
    border-radius: 30px;
}

nav ul li button{
    outline: none;
    background: transparent;
    cursor: pointer;
    width: 2.7rem;
    height: auto;
    border: none;
    margin-top: 0.5rem;
}

nav ul li a:hover{
    color: #606060;
}

nav ul li button:hover{
    color: #606060;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;    
}

.search-form{
    border: 1px solid #e2e0e0;
    width: 15rem;
    height: 2.5rem;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
}

.search-form input{
    height: 100%;
    width: 80%;
    background: none;
    font-size: 1rem;
    border: none;
    padding-left: 1rem;
    outline: none;
}

.search-form .search-button{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 6px;
}

.search-button:hover{
    background: #fff !important;
}

.search-form label{
    font-size: 0.3rem;
    cursor: pointer;
    margin-right: 6px;
}

header .shopping-cart{
    border: 0px solid;
    position: absolute;
    top: 10%;
    right: 2rem;    
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: #212526;
    width: 25rem;
    background: #fff;
    display: none;
}

header .shopping-cart.active{
    display: block;
}

header .shopping-cart .cart-box{
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    margin: 1rem 0;
}

header .shopping-cart .cart-box img{
    width: 6rem;
    height: auto;
}

header .shopping-cart .cart-box .bin-btn{
    position: absolute;
    top: 45%;
    right: 0.7rem;
    cursor: pointer;
    transform: translateY(-50%);
    color: #848484;
}

.shopping-cart .cart-box .cart-content .cart-product-title{
    padding-bottom: 0.3rem;
}

.shopping-cart .cart-box .cart-content .cart-product-price, .cart-product-qty{
    font-size: 1rem;
}

.shopping-cart .cart-box .cart-content .cart-product-qty{
    padding-left: 1rem;
}

.shopping-cart .cart-total{
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0;
    font-weight: 600;
}

.shopping-cart .cart-checkout-btn{
    display: flex;
    padding: 0.2rem 2rem;
    border: 1px solid;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin: 0rem 5rem 0.7rem 5rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.shopping-cart .cart-checkout-btn:hover{
    background-color: #f8f8f8;
}

@media only screen and (max-width: 1100px){
    header{
        width: 90%;
        padding: 0 20px;
    }
    
    nav{
        display: none;
    }
    
    #nav_check:checked ~ nav{
        display: block;
        position: absolute;
        top: 8vh;
        left: 5%;
        z-index: 999;
        width: 90%;
        background-color: rgb(252, 251, 251);
        transition: 0.5s;
        box-shadow: 2px 0 20px 0 rgba(0,0,0,0.05);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    nav .logo{
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    nav ul li a{
        margin-bottom:5px;
        padding: 10px 15px;
        border-radius: 5px;
    }

    nav ul{
        display: block;
        padding: 0 20px;
        margin-top: 10px;
    }
    
    .hamburger{
        display: block;
    }
}
